<h1>login</h1>


{{#if msg}}
<div class="message">
    {{msg}}
</div>
{{/if}}

<form class="" action="/login" method="post">
    <input type="text" name="username" value="" placeholder="username">
    <input type="submit" name="name" value="login">
</form>
